body {
    --background-color: rgb(192, 192, 192);
    --accent: rgb(106, 106, 236);
    --secondary: rgb(75, 47, 201);
    --confirm: rgb(60, 110, 60);
    --rejected: rgb(241, 31, 31);

    background-color: var(--background-color);
    font-family: monospace;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.pasapalabra {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

@keyframes hide {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes show {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.pasapalabra>.bg-circle>div[hidden="start true"] {
    display: none !important;
}

.pasapalabra>.bg-circle>div[hidden="start false"] {
    display: flex;
}

.pasapalabra>.bg-circle>div[hidden="true"] {
    animation: hide .4s ease-in-out 0s 1 normal forwards;
    display: none !important;
}

.pasapalabra>.bg-circle>div[hidden="false"] {
    animation: show .4s ease-in-out 0s 1 normal forwards;
    display: flex;
}

@keyframes appear-circle {
    0% {
        transform: rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
    
}

.pasapalabra .bg-circle {
    animation: appear-circle .4s ease-in-out 0s 1 normal forwards;
    position: absolute;
    background: var(--background-color);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    z-index: 1;
}

.pasapalabra .bg-circle .title {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pasapalabra .bg-circle .title .term {
    font-size: 250%;
    margin: 0;
}

.pasapalabra .bg-circle .title .game-title {
    border-radius: 5px;
    outline: 0;
    padding: 0 1em;
    height: 3em;
    width: calc(60% - 1em);
    margin: .7em 0 2em 0;
    font-size: 1.4em;
    font-family: monospace;
    background-color: transparent;
    border: 2px solid var(--accent);
    transition: .2s ease-in-out all;
}

.pasapalabra .bg-circle .title .game-title[incomplete="true"] {
    border-color: var(--rejected);
}

.pasapalabra .bg-circle .register {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pasapalabra .bg-circle .register span {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.pasapalabra .bg-circle .register .word {
    border-radius: 5px;
    outline: 0;
    height: 2em;
    width: calc(80% - 1em);
    margin: .7em 0 2em 0;
    font-family: monospace;
    background-color: transparent;
    border: 2px solid var(--accent);
    padding: 0 .5em;
}

.pasapalabra .bg-circle .register .hint {
    border-radius: 5px;
    width: calc(80% - 1em);
    height: 3em;
    min-width: calc(80% - 1em);
    max-width: calc(80% - 1em);
    min-height: 1.2em;
    max-height: 3.6em;
    margin: .7em 0 0 0;
    background-color: transparent;
    border: 2px solid var(--accent);
    outline: 0;
    padding: .5em;
}

.pasapalabra .bg-circle .register .submit {
    border-radius: 5px;
    outline: 0;
    border: 0;
    height: 2em;
    width: 60%;
    margin: .7em 0 0 0;
    font-family: monospace;
    font-size: 1.4em;
    font-weight: 800;
    background-color: var(--accent);
    color: white;
    transition: .2s ease-in-out all;
}

.pasapalabra .bg-circle .register .submit:hover {
    background-color: var(--confirm);
    transform: scale(105%, 105%);
    cursor: pointer;
}

.pasapalabra .bg-circle .register .return {
    position: absolute;
    top: 5%;
    border: 0px;
    background-color: transparent;
    color: var(--accent);
    transition: .2s ease-in-out all;
}

.pasapalabra .bg-circle .register .return svg {
    height: 60px;
    width: 60px;
}

.pasapalabra .bg-circle .register .return:hover {
    color: var(--secondary);
    transform: scale(115%, 115%);
    cursor: pointer;
}

@media (max-width: 600px) {
    .pasapalabra .bg-circle .register .return {
        position: absolute;
        top: -4em;
        left: -7em;
    }
}

.pasapalabra .circle-container {
    animation: appear-circle .4s ease-in-out 0s 1 normal forwards;
    width: inherit;
    height: inherit;
    position: relative;
    border-radius: 50%;
    background-color: var(--accent);
}

@keyframes appear-letter {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pasapalabra .circle-container .letter {
    animation: appear-letter .6s ease-in-out 0s 1 normal forwards;
    font-size: 2em;
    font-weight: 600;
    position: absolute;
    display: flex;
    width: 9%;
    height: 9%;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .2s ease-in-out all;
}

.pasapalabra .circle-container .letter svg {
    position: absolute;
    color: var(--rejected);
    top: -7px;
    right: -5px;
    height: 30px;
    width: 30px;
    display: none;
}

.pasapalabra .circle-container .letter[incomplete=true] {
    color: var(--background-color);
    border-color: var(--background-color);
}

.pasapalabra .circle-container .letter[incomplete=true] svg {
    display: block;
}

.pasapalabra .circle-container .letter:hover {
    background-color: var(--secondary);
    transform: scale(105%, 105%);
    cursor: pointer;
}

.create {
    border-radius: 5px;
    outline: 0;
    border: 0;
    height: 8vh;
    width: 60%;
    max-width: 20em;
    margin: 1vh 0 1vh 0;
    font-family: monospace;
    font-size: 2em;
    font-weight: 800;
    background-color: var(--accent);
    color: white;
    transition: .2s ease-in-out all;
}

.create:hover {
    background-color: var(--confirm);
    transform: scale(105%, 105%);
    cursor: pointer;
}

.create[disabled="true"] {
    opacity: .5;
    pointer-events: none;
}