body {
    --background-color: rgb(192, 192, 192);
    --accent: rgb(106, 106, 236);
    --secondary: rgb(75, 47, 201);
    --confirm: rgb(60, 110, 60);
    --rejected: rgb(241, 31, 31);

    background-color: var(--background-color);
    font-family: monospace;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.pasapalabra {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vmin - 12vh);
    height: calc(100vmin - 12vh);
    margin: 1vmin;
}

@keyframes hide {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes show {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.pasapalabra>.bg-circle>div[hidden="start true"] {
    display: none !important;
}

.pasapalabra>.bg-circle>div[hidden="start false"] {
    display: flex;
}

.pasapalabra>.bg-circle>div[hidden="true"] {
    animation: hide .4s ease-in-out 0s 1 normal forwards;
    display: none !important;
}

.pasapalabra>.bg-circle>div[hidden="false"] {
    animation: show .4s ease-in-out 0s 1 normal forwards;
    display: flex;
}

@keyframes appear-circle {
    0% {
        transform: rotate(-45deg) scale(0.7);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }

}

.pasapalabra .bg-circle {
    animation: appear-circle .4s ease-in-out 0s 1 normal forwards;
    position: absolute;
    background: var(--background-color);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    z-index: 1;
}

.pasapalabra .bg-circle .title {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pasapalabra .bg-circle .title .term {
    font-size: 8vmin;
    margin: 0;
}

.pasapalabra .bg-circle .title .game-title {
    border-radius: 1vmin;
    outline: 0;
    height: 4vmin;
    padding: 1vmin .5vmin;
    width: calc(80% - .5vmin);
    margin: 1vmin 0 2vmin 0;
    font-size: 5vmin;
    font-family: monospace;
    background-color: transparent;
    border: .25vmin solid var(--accent);
    transition: .2s ease-in-out all;
}

@media (max-width: 600px) {
    .pasapalabra .bg-circle .title .term {
        font-size: 6vmin;
    }
}

.pasapalabra .bg-circle .title .game-title[incomplete="true"] {
    border-color: var(--rejected);
}

.pasapalabra .bg-circle .register {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pasapalabra .bg-circle .register span {
    font-size: 4vmin;
    font-weight: 700;
    text-align: center;
}

.pasapalabra .bg-circle .register .word {
    border-radius: 1vmin;
    outline: 0;
    height: 4vmin;
    font-size: 3vmin;
    width: calc(80% - 1vmin);
    margin: .5vmin 0 1vmin 0;
    font-family: monospace;
    background-color: transparent;
    border: 2px solid var(--accent);
    padding: 0 .5vmin;
}

.pasapalabra .bg-circle .register .hint {
    border-radius: 1vmin;
    width: calc(80% - 1vmin);
    min-width: calc(80% - 1vmin);
    max-width: calc(80% - 1vmin);
    height: 6vmin;
    min-height: 2vmin;
    max-height: 9vmin;
    font-size: 2.5vmin;
    margin: .5vmin 0 0 0;
    background-color: transparent;
    border: 2px solid var(--accent);
    outline: 0;
    padding: .5vmin;
}

.pasapalabra .bg-circle .register .submit {
    border-radius: 1vmin;
    outline: 0;
    border: 0;
    height: 8vmin;
    width: 60%;
    margin: 4vmin 0 0 0;
    font-family: monospace;
    font-size: 5vmin;
    font-weight: 800;
    background-color: var(--accent);
    color: white;
    transition: .2s ease-in-out all;
}

.pasapalabra .bg-circle .register .submit:hover {
    background-color: var(--confirm);
    transform: scale(105%, 105%);
    cursor: pointer;
}

.pasapalabra .bg-circle .register .return {
    position: absolute;
    border: 0;
    outline: 0;
    top: 5%;
    background-color: transparent;
    color: var(--accent);
    transition: .2s ease-in-out all;
}

.pasapalabra .bg-circle .register .return svg {
    height: 60px;
    width: 60px;
}

.pasapalabra .bg-circle .register .return:hover {
    color: var(--secondary);
    transform: scale(115%, 115%);
    cursor: pointer;
}

@media (max-width: 600px) {
    .pasapalabra .bg-circle .register .return {
        position: fixed;
        top: -8vmin;
        left: -18vmin;
    }
}

@media (max-width: 400px) {
    .pasapalabra .bg-circle .register .return {
        position: fixed;
        top: -8vmin;
        left: -22vmin;
    }
}

.pasapalabra .circle-container {
    animation: appear-circle .4s ease-in-out 0s 1 normal forwards;
    width: inherit;
    height: inherit;
    position: relative;
    border-radius: 50%;
    background-color: var(--accent);
}

@keyframes appear-letter {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pasapalabra .circle-container .letter {
    animation: appear-letter .6s ease-in-out 0s 1 normal forwards;
    font-size: 6vmin;
    font-weight: 600;
    position: absolute;
    display: flex;
    width: 9%;
    height: 9%;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: .4vmin solid white;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .2s ease-in-out all;
}

.pasapalabra .circle-container .letter svg {
    position: absolute;
    color: var(--rejected);
    top: -7px;
    right: -5px;
    height: 30px;
    width: 30px;
    display: none;
}

.pasapalabra .circle-container .letter[incomplete=true] {
    color: var(--background-color);
    border-color: var(--background-color);
}

.pasapalabra .circle-container .letter[incomplete=true] svg {
    display: block;
}

@media (max-width: 600px) {
    .pasapalabra .circle-container .letter[incomplete=true] {
        border-color: var(--rejected);
    }

    .pasapalabra .circle-container .letter[incomplete=true] svg {
        display: none;
    }
}

.pasapalabra .circle-container .letter:hover {
    background-color: var(--secondary);
    transform: scale(105%, 105%);
    cursor: pointer;
}

.create {
    border-radius: 1vmin;
    outline: 0;
    border: 0;
    height: 8vmin;
    width: 60%;
    max-width: 12em;
    margin: 1vh 0;
    font-family: monospace;
    font-size: 6vmin;
    font-weight: 800;
    background-color: var(--accent);
    color: white;
    transition: .2s ease-in-out all;
}

.create:hover {
    background-color: var(--confirm);
    transform: scale(105%, 105%);
    cursor: pointer;
}

.create[disabled="true"] {
    opacity: .3;
    pointer-events: none;
}